<div class="toast toast-top toast-end" *ngIf="alert">
  <div class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current shrink-0" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ alertMsg }}</span>
  </div>
</div>
<div class="flex justify-end w-screen h-screen bg-cover" style="background-image: url('assets/fsb.jpeg');">
  <div class="flex min-h-xl max-w-lg bg-white rounded-lg shadow-xl mr-48 my-auto flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-screen sm:max-w-sm">
      <img class="mx-auto h-20 bg-black rounded px-3 py-1 w-auto" src="assets/logo.svg" alt="Your Company">
      <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="relative flex mb-3 w-full max-w-[24rem] flex-col rounded-xl bg-gray-200 bg-clip-border text-gray-700 shadow-md">
        <nav class="flex min-w-[240px] flex-row gap-1 p-2 font-sans text-base font-normal text-blue-gray-700">
          <div role="button"
            class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="horizontal-list-react" class="flex items-center w-full px-3 py-2 cursor-pointer">
              <div class="grid mr-3 place-items-center">
                <div class="inline-flex items-center">
                  <label class="relative flex items-center p-0 rounded-full cursor-pointer"
                    htmlFor="horizontal-list-react">
                    <input  name="horizontal-list" id="horizontal-list-react" type="radio" value="AIO" [(ngModel)]="selectLogin"
                      class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-0" />
                    <span
                      class="absolute text-gray-900 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
                        <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-400">
                AIO
              </p>
            </label>
          </div>
          <div role="button"
            class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900">
            <label htmlFor="horizontal-list-vue" class="flex items-center w-full px-3 py-2 cursor-pointer">
              <div class="grid mr-3 place-items-center">
                <div class="inline-flex items-center">
                  <label class="relative flex items-center p-0 rounded-full cursor-pointer" htmlFor="horizontal-list-vue">
                    <input name="horizontal-list" id="horizontal-list-vue" type="radio" value="OS" [(ngModel)]="selectLogin"
                      class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-0" />
                    <span
                      class="absolute text-gray-900 transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 16 16" fill="currentColor">
                        <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-400">
                OS
              </p>
            </label>
          </div>
        </nav>
      </div>
      <form [formGroup]="form" (submit)="login()" class="space-y-6" action="#" method="POST">
        <div>
          <label for="nik" class="block text-sm font-medium leading-6 text-gray-900">NIK</label>
          <div class="mt-2">
            <input id="nik" formControlName="nik" name="nik" type="email" autocomplete="email" required
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <input id="password" formControlName="password" name="password" type="password"
              autocomplete="current-password" required
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
            in</button>
        </div>
      </form>

   
    </div>
  </div>
</div>
  