<h1 class="text-3xl font-bold  mb-10 text-center">
  Welcome to Master Cleaning Dashboard
</h1>

<!-- Count status -->
<div class="flex justify-evenly">
  <div class="card shadow-xl">
    <div class="card-body">
      <div class="flex justify-center items-center h-full gap-4">
        <img src="assets/day.png" class="w-16" alt="" />
        <div class="flex flex-col">
          <p class="text-xl">Daily Checklist Amount</p>
          <p class="text-2xl font-bold">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-center items-center h-full gap-4">
        <img src="assets/week.png" class="w-16" alt="" />
        <div class="flex flex-col">
          <p class="text-xl">Weekly Checklist Amount</p>
          <p class="text-2xl font-bold">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-center items-center h-full gap-4">
        <img src="assets/month.png" class="w-16" alt="" />
        <div class="flex flex-col">
          <p class="text-xl">Monthly Checklist Amount</p>
          <p class="text-2xl font-bold">0</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Count status -->
